<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>karafriends doko</h1>

  <form name="karafriends" action="/api/mal" method="post">
    <label for="username">MyAnimeList Username:</label>
    <input type="text" id="username" name="username"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
