<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>karafriends doko</h1>

  <h2><%= username + "'s Playlist" %></h2>

  <table>
  <% for (let i = 0; i < songData.length; i++) {  %>
    <tr>
        <td><%= songData[i].animeTitle %></td>
        <td><%= songData[i].songTitle %></td>
    </tr>
  <% } %>
  </table>
</body>
</html>
